/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}
/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Primary button color (blue) */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

main {
    padding: 20px 0;
}

section.hero {
    background-color: #37393a;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}
section.index,
section.skills,
section.projects,
section.experience,
section.education,
section.certifications,
section.contact {
    padding: 40px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
